<div class="user_show_name">
    <div class="user-img show-icon">
        <% if current_user.image? %>
            <img src='<%= current_user.image %>' class="icon" alt="ユーザーアイコン">
        <% else %>
            <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
        <% end %>
    </div>
    <div><span><%= current_user.name %></span></div>
    <%= link_to(edit_user_registration_path) do %>
        <i class="fas fa-user-edit"></i>
    <% end %>
</div>
<div id="wrap">
    <div class="container-fluid">
        <%= render 'shared/index' %>
        <%= render 'shared/likespost' %>
    </div>
</div>