<div id="wrap">
    <div class="container-fluid">
        <div class="row">
            <% @posts.each do |post| %>
                <div class="book-img col-lg-4 col-md-6 col-sm-12 center-block mx-auto">
                    <div class="box">
                        <div class="name">
                            <% if post.user.image? %>
                                <img src='<%= post.user.image %>' class="icon" alt="ユーザーアイコン">
                            <% else %>
                                <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
                            <% end %>
                            <% if post.user.id != current_user.id %>
                                <%= link_to("#{post.post_user}", "/home/#{post.id}/user_show")%>
                            <% else %>
                                <span><%= current_user.name %></span>
                            <% end %>
                        </div>
                        <div class="image-box">
                            <h5><%= post.phrase %></h5>
                            <img src='<%= post.book_image %>' class="img-fluid d-block">
                        </div>
                        <div class="content-box">
                            <p class="title">『<%= post.title %>』</p>
                            <p class="author">著者　<%= post.author %></p>
                            <p>★ おすすめポイント</p>
                            <p class="content">
                                <%= post.content%>
                                <% if user_signed_in? && current_user.id == post.user_id %>
                                    <span class="edit-delete">
                                        <%=link_to("編集" , "/home/#{post.id}/edit",class:"text-muted") %>
                                        <%=link_to("削除" , "/home/#{post.id}/destroy",method: :post,class:"text-muted") %>
                                    </span>
                                <% end %>
                            </p>
                        </div>
                        <div class="favorite-icon">
                            <button class="icon-btn">
                                <i class="fa-lg fas fa-star"></i>
                            </button>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
