<% @posts.each do |post| %>
    <div class="book-img col-md-4 col-sm-12 center-block mx-auto">
        <div class="box">
            <div class="image-box">
                <h5><%= post.phrase %></h5>
                <span>著者　<%= post.author %></span>
                <% if current_user.id == post.user_id %>
                    <div class="edit-delete">
                        <%=link_to("編集" , "/home/#{post.id}/edit") %>
                        <%=link_to("削除" , "/home/#{post.id}/destroy",{method:"post"}) %>
                    </div>
                <% end %>
                <img src='<%= post.book_image %>' class="img-fluid d-block">
            </div>
            <div>
                <p class="title">
                    『<%= post.title %>』
                </p>
                <p class="name">
                    <span>投稿者&ensp;&ensp;</span><%= post.user.name %>
                </p>
                <p>★ おすすめポイント</p>
                <p class="content">
                    <%= post.content%>
                </p>
            </div>
        </div>
    </div>
<% end %>