<!DOCTYPE html>
<html>
  <head>
    <title>bookmemoryphrase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- bootstrapの導入 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c6599c59c4.js" crossorigin="anonymous"></script>
  </head>
  </head>

  <body>
    <div id = "overwrap">
    <div class="title-top">
      <p class="site-title">book memory phrase</p>
    </div>
      <div class="cp_cont">
        <input type="checkbox" id="cp_toggle03">
        <div class="cp_mobilebar">
          <label for="cp_toggle03" class="cp_menuicon">
            <span></span>
          </label>
        </div>
        <header class="cp_offcm03">
          <nav>
            <ul>
              <% if user_signed_in? %>
                <li>
                  <a href='/home/show'>投稿一覧 <i class="fas fa-book-open"></i></a>
                </li>
                <li>
                  <a href='/home/new'>投稿する <i class="fas fa-pen-nib"></i></a>
                </li>
                <li>
                  <a href='/users/sign_out'>ログアウト <i class="fas fa-sign-out-alt"></i></a>
                </li>
              <% else %>
                <li>
                  <a href='/'>トップ <i class="fas fa-home"></i></a>
                </li>
                <li>
                  <a href='/users/sign_in'>ログイン <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                  <a href='/users/sign_up'>新規登録 <i class="fas fa-user-plus"></i></a>
                </li>
              <% end %>
            </ul>
          </nav>
        </header>
      </div>
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
